<html>
<head>
    <title>Пользователи</title>
    <script type="text/javascript" src="~/js/Views/Users/Index.js"></script>
    <script type="text/javascript" src="~/js/Views/Users/Edit.js"></script>
</head>
<body>

    <br />
    <h2>Пользователи</h2>
    <br />

    <div id="tabUsers"></div>

    @Html.Partial("Edit")

</body>
</html>



