<div id='jqxWidget'>
    <div id="popupWindow">

        <div>Заказ</div>
        <div style="overflow: hidden;">
            <table>

                <tr>
                    <td align="right" style="padding:3px; margin: 5px;">Заказ</td>
                    <td align="left"><input style="padding:3px; margin: 5px;" placeholder="название категории" id="CategoryNameE" /></td>
                </tr>

                <tr>
                    <td align="right"></td>
                    <td style="padding-top: 10px;" align="right">

                        <input style="margin-right: 5px;" type="button" id="Save" value="Сохранить" />
                        <input id="Cancel" type="button" value="Отмена" />

                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
