<html>
<head>
    <title>Заказы</title>
    <script type="text/javascript" src="~/js/Views/OrderHead/Index.js"></script>
    <script type="text/javascript" src="~/js/Views/OrderHead/Edit.js"></script>
</head>
<body>

    <br />
    <h2>Категории</h2>
    <br />

    <div id="tabOrderHead"></div>

    @Html.Partial("Edit")

</body>
</html>