<html>
<head>
    <title>Заказы</title>
    
    <script type="text/javascript" src="~/js/Views/OrderHead/Index.js"></script>

</head>
<body>

    <br />
    <h2>Заказы</h2>
    <br />

    <div id="tabOrderHead"></div>

</body>
</html>