<html>
<head>
    <title>Товары</title>
    <script type="text/javascript" src="~/js/Views/Products/Index.js"></script>
    <script type="text/javascript" src="~/js/Views/Products/Edit.js"></script>
    <script type="text/javascript" src="~/js/Views/Products/EditImage.js"></script>
</head>
<body>

    <br />
    <h2>Товары</h2>
    <br />

    <div id="tabProducts"></div>

    @Html.Partial("Edit")
    @Html.Partial("EditImage")

</body>
</html>
