<html>
<head>
    <title>Категории товара</title>
    <script type="text/javascript" src="~/js/Views/Categories/Index.js"></script>
    <script type="text/javascript" src="~/js/Views/Categories/Edit.js"></script>
</head>
<body>

    <br />
    <h2>Категории</h2>
    <br />

    <div id="tabCategories"></div>

    @Html.Partial("Edit")

</body>
</html>


