<div id='jqxWidget'>
    <div id="popupWindow">

        <div>Позиция</div>
        <div style="overflow: hidden;">
            <table>

                <tr>
                    <td align="right" style="padding:3px; margin: 5px;">Товар</td>
                    <td align="left"><div style="padding:3px; margin: 5px;" id="ProductE" /></td>
                </tr>

                <tr>
                    <td align="right" style="padding:3px; margin: 5px;">Количество</td>
                    <td align="left"><input style="padding:3px; margin: 5px;" id="QtyE" /></td>
                </tr>

                <tr>
                    <td align="right"></td>
                    <td style="padding-top: 10px;" align="right">

                        <input style="margin-right: 5px;" type="button" id="SaveDetail" value="Сохранить" />
                        <input style="margin-right: 5px;" id="CancelDetail" type="button" value="Отмена" />

                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>
