<html>
<head>
    <title>Home</title>
    <script type="text/javascript" src="~/js/Views/Home/Index.js"></script>
</head>
<body>

    <div class="text-center">
        <h1 class="display-4">
            Welcome to FlutterShop! </h1>
    </div>


    <div id='ProductListView'/>


 
@*     <img src="~/images/pizza.jpg" width="100" /> *@


</body>
</html>
